<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Setor - Gestoor 360º</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4>Cadastrar Novo Setor para solicitar Transporte</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label>Nome do Setor</label>
                        <input type="text" name="nome_setor" class="form-control" placeholder="Ex: CAEE" required>
                    </div>
                    <div class="form-group">
                        <label>Código de Acesso</label>
                        <input type="text" name="codigo_setor" class="form-control" placeholder="Ex: SEME022CAEE" required>
                    </div>
                    <button type="submit" class="btn btn-success">Cadastrar Setor</button>
                    <a href="{{ url_for('solicitacao.painel_admin') }}" class="btn btn-secondary">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>